@inject IAssetService assetService
@inject ICrmModalService modalService

<div class="align-items-stretch">
    @if (ActionID == (int)OrderAction.Create)
    {
        <!--Asset-->
        <select id="selectedAsset" class="form-select" @onchange="AssetSelected">
            @foreach (var asset in selectableAssets)
            {
                @if (asset.Id == AssetDTO.Id)
                {
                    <option selected value="@asset.Id">@asset.Name</option>                        
                }
                else
                {
                    <option value="@asset.Id">@asset.Name</option>                        
                }
            }
        </select> 
    }
    else
    {
        <fieldset disabled="@true">
            <input type="text" @bind-value="AssetDTO.Name" /><br>
        </fieldset>
    }
    <!--BillingProfile-->
    <fieldset disabled="@(ActionID == (int)OrderAction.Delete)">
        <select id="selectedBillingProfile" class="form-select" @onchange="BillingProfileChanged" >
            @foreach (var profile in selectableBillingProfiles)
            {
                <option value="@profile.BillingProfileId">@profile.BillingProfileId</option>
            }
        </select>
    </fieldset>
</div>

<!--Asset options-->
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>        
        @if (ActionID == (int)OrderAction.Delete)
        {
            @foreach (var optionDTO in AssetDTO.Options)
            {
                <tr>
                    <td><label id="asset" >@optionDTO.Name</label></td>
                    <td><label id="asset" >@optionDTO.Price</label></td>
                </tr>
            }
        }
        else
        {
            <button type="submit" name="submit" class="btn btn-primary" @onclick="AddOption">Add +</button>
            @foreach (var optionDTO in AssetDTO.Options)
            {
                <tr>
                    <td><label id="asset" >@optionDTO.Name</label></td>
                    <td><label id="asset" >@optionDTO.Price</label></td>
                    <td><button type="button" class="btn btn-danger" value="@optionDTO.Id" @onclick="(() => RemoveOption(optionDTO.Id))"><em class="oi oi-trash"></em>Delete</button></td>
                </tr>
            }
            @foreach (var assetOption in selectedOptions)
            {
                <select class="form-select" id="selectedOption" @onchange="OptionSelected" >
                    @foreach (var option in selectableOptions)
                    {            
                        <option value="@option.Id">@option.Name</option>
                    }
                </select>    
                <button type="button" class="btn btn-danger" @onclick="(() => RemoveOption(assetOption.Id))" ><em class="oi oi-trash"></em> Delete</button>
            }
        }
    </tbody>
</table> 


@code {
    [CascadingParameter]
    public OrderDTO OrderDTO { get; set; }

    [Parameter]
    public AssetDTO AssetDTO { get; set; } = new AssetDTO();

    [Parameter]
    public int ActionID { get; set; }

    private List<AssetDTO> selectableAssets = new List<AssetDTO>();

    private List<OptionDTO> selectableOptions => selectableAssets
        .FirstOrDefault(x => x.Id == GetSelectedAsset())
        .Options;
    private List<OptionDTO> selectedOptions = new List<OptionDTO>();

    private List<BillingProfileDTO> selectableBillingProfiles = new List<BillingProfileDTO>();

    protected override async Task OnInitializedAsync()
    {
        AssetDTO = AssetDTO ?? new AssetDTO();
        ConsolLogData();
        if (OrderDTO.OrderStatus == OrderStatus.Finished)
        {
            AssetDTO = OrderDTO.AssetDTO;
            selectableBillingProfiles.Add(AssetDTO.BillingProfile);
            selectableAssets.Add(AssetDTO);
            return;
        }

        selectableBillingProfiles = OrderDTO.CustomerDTO.BillingProfiles
            .Where(x => x.BilingProfileStatus == ItemState.Active)
            .ToList();

        if (ActionID == (int)OrderAction.Create)
        {            
            var assets = await assetService.GetAssetsAsync(true);
            this.selectableAssets = await assets.ToListAsync();

            //add empty items for better UX
            this.selectableAssets.ForEach(x => x.Options.Insert(0, new OptionDTO()));
            this.selectableAssets.Insert(0, new AssetDTO());
            this.selectableBillingProfiles.Insert(0, new BillingProfileDTO { BilingProfileStatus = ItemState.Active });
        }

        if (ActionID == (int)OrderAction.Update)
        {
            ReorderSelectableBillingProfiles();
            var options = await assetService.GetAssetAvailableOptionsAsync(AssetDTO.Id) ?? Array.Empty<OptionDTO>();
            var selectableAssetOptions = options.ToList();
            selectableAssetOptions.Insert(0, new OptionDTO());

            var selectableAsset = new AssetDTO
            {
                Id = AssetDTO.Id,
                Name = AssetDTO.Name,
                Price = AssetDTO.Price,
                Options = selectableAssetOptions
            };

            selectableAssets.Add(selectableAsset);
        }
    }

    private void ReorderSelectableBillingProfiles()
    {
        var billingProfile = selectableBillingProfiles
            .FirstOrDefault(x => x.BillingProfileId == AssetDTO.BillingProfile.BillingProfileId);

        if (billingProfile != null)
        {
            selectableBillingProfiles.Remove(billingProfile);
            selectableBillingProfiles.Insert(0, billingProfile);
        }
    }

    private void ConsolLogData()
    {
        var orderData = System.Text.Json.JsonSerializer.Serialize(OrderDTO);
        var assetData = System.Text.Json.JsonSerializer.Serialize(AssetDTO);
        Console.WriteLine($"ActionID: {ActionID}");
        Console.WriteLine($"Order: {orderData}");
        Console.WriteLine($"Asset: {assetData}");
    }

    private void AddOption()
    {
        selectedOptions.Add(new OptionDTO());
    }

    private void RemoveOption(long optionID)
    {
        var deletedOption = AssetDTO.Options.FirstOrDefault(x => x.Id == optionID);     
        AssetDTO.Options.Remove(deletedOption);

        var tempOption = selectedOptions.FirstOrDefault(x => x.Id == optionID);
        selectedOptions.Remove(tempOption);

        StateHasChanged();
    }

    private void OptionSelected(ChangeEventArgs e)
    {
        if (!ValidateEventArgID(e, out long id))
        {
            modalService.ShowErrorMessage("Selected option is not valid!");
            return;
        }   

        AssetDTO.Options.RemoveAll(x => x.Id == id);
        var selectedOption = selectableOptions.FirstOrDefault(x => x.Id == id);
        AssetDTO.Options.Add(selectedOption);
        selectedOptions.Clear();

        StateHasChanged();
    }    

    private void AssetSelected(ChangeEventArgs e)
    {
        if (!ValidateEventArgID(e, out long id))
        {
            modalService.ShowErrorMessage("Selected asset is not valid!");
            return;
        }

        AssetDTO = selectableAssets.FirstOrDefault(x => x.Id == id).Clone();
        selectedOptions.Clear();

        StateHasChanged();
    }

    private void BillingProfileChanged(ChangeEventArgs e)
    {
        if (!ValidateEventArgID(e, out string id))
        {
            modalService.ShowErrorMessage("Selected billing profile is not valid!");
            return;
        }

        AssetDTO.BillingProfile = selectableBillingProfiles
            .FirstOrDefault(x => x.BillingProfileId == id);

        StateHasChanged();
    }

    private long GetSelectedAsset()
    {
        var selectedAsset = AssetDTO.Id == 0
            ? selectableAssets.FirstOrDefault(x => x.Id != 0)
                .Id
            : AssetDTO.Id;

        return selectedAsset;
    }

    public static bool ValidateEventArgID(ChangeEventArgs e, out long id)
    {
        id = 0;
        var isValid = e != null
            && long.TryParse(e.Value.ToString(), out id);

        return isValid;
    }

    public static bool ValidateEventArgID(ChangeEventArgs e, out string id)
    {
        var isValid = e != null
            && e.Value != null
            && !string.IsNullOrEmpty(e.Value.ToString());

        id = isValid
            ? e.Value.ToString()
            : string.Empty;

        return isValid;
    }
}
