
@inject IAssetService assetService
@inject ICrmModalService modalService

@if (ActionID <= 0)
{
    <div class="mb-3">
        <select id="selectedAsset" class="form-select" @onchange="AssetSelected">
            @foreach (var asset in selectableAssets)
            {
                <option value="@asset.Id">@asset.Name</option>
            }
        </select> 
        <fieldset disabled="@(AssetDTO.Id <= 0)">
            <select id="selectedBillingProfile" class="form-select" @onchange="BillingProfileChanged" >
                @foreach (var profile in selectableBillingProfiles)
                {
                    <option value="@profile.BillingProfileId">@profile.BillingProfileId</option>
                }
            </select>
        </fieldset>
        <table>
            <thead>
                <tr>
                    <th style="padding-right: 15px">Name</th>
                    <th style="padding-right: 15px">Price</th>
                </tr>
            </thead>
            <tbody>        
                @foreach (var optionDTO in AssetDTO.Options)
                {
                    <tr>
                        <td style="padding-right: 15px"><label id="asset" >@optionDTO.Name</label></td>
                        <td style="padding-right: 15px"><label id="asset" >@optionDTO.Price</label></td>
                        <td style="padding-right: 15px"><button type="button" class="btn btn-danger" value="@optionDTO.Id" @onclick="(() => RemoveOption(optionDTO.Id))">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table> 
        <button type="submit" name="submit" class="btn btn-primary" @onclick="AddOption" >Add Option +</button>
        @if (AssetDTO.Id != 0)
        {
            @foreach (var assetOption in selectedOptions)
            {
                <select class="form-select" id="selectedOption" @onchange="OptionSelected" >
                    @foreach (var option in selectableOptions)
                    {            
                        <option value="@option.Id">@option.Name</option>
                    }
                </select>
                <button type="button" class="btn btn-danger" @onclick="(() => RemoveOption(assetOption.Id))" >Delete</button>
            }        
        }
    </div>
}

@if (ActionID > 0)
{
    <div class="align-items-stretch">
        @if (ActionID == (int)CrudAction.Create)
        {
            <select id="selectedAsset" class="form-select" @onchange="AssetSelected">
                @foreach (var asset in selectableAssets)
                {
                    @if (asset.Id == AssetDTO.Id)
                    {
                        <option selected value="@asset.Id">@asset.Name</option>                        
                    }
                    else
                    {
                        <option value="@asset.Id">@asset.Name</option>                        
                    }
                }
            </select> 
        }
        else
        {
            <fieldset disabled="@true">
                <input type="text" @bind-value="AssetDTO.Name" /><br>
            </fieldset>
        }
        <fieldset disabled="@(ActionID == (int)CrudAction.Delete)">
            <select id="selectedBillingProfile" class="form-select" @onchange="BillingProfileChanged" >
                @foreach (var profile in selectableBillingProfiles)
                {
                    <option value="@profile.BillingProfileId">@profile.BillingProfileId</option>
                }
            </select>
        </fieldset>
    </div>
    <table>
        <thead>
            <tr>
                <th style="padding-right: 15px">Name</th>
                <th style="padding-right: 15px">Price</th>
            </tr>
        </thead>
        <tbody>        
            @if (ActionID == (int)CrudAction.Delete)
            {
                @foreach (var optionDTO in AssetDTO.Options)
                {
                    <tr>
                        <td style="padding-right: 15px"><label id="asset" >@optionDTO.Name</label></td>
                        <td style="padding-right: 15px"><label id="asset" >@optionDTO.Price</label></td>
                    </tr>
                }
            }
            else
            {
                <button type="submit" name="submit" class="btn btn-primary" @onclick="AddOption">Add +</button>
                @foreach (var optionDTO in AssetDTO.Options)
                {
                    <tr>
                        <td style="padding-right: 15px"><label id="asset" >@optionDTO.Name</label></td>
                        <td style="padding-right: 15px"><label id="asset" >@optionDTO.Price</label></td>
                        <td style="padding-right: 15px"><button type="button" class="btn btn-danger" value="@optionDTO.Id" @onclick="(() => RemoveOption(optionDTO.Id))">Delete</button></td>
                    </tr>
                }
                @foreach (var assetOption in selectedOptions)
                {
                    <select class="form-select" id="selectedOption" @onchange="OptionSelected" >
                        @foreach (var option in selectableOptions)
                        {            
                            <option value="@option.Id">@option.Name</option>
                        }
                    </select>    
                    <button type="button" class="btn btn-danger" @onclick="(() => RemoveOption(assetOption.Id))" >Delete</button>
                }
            }
        </tbody>
    </table> 
}




@code {
    [CascadingParameter]
    public OrderDTO OrderDTO { get; set; }

    [Parameter]
    public AssetDTO AssetDTO { get; set; } = new AssetDTO();

    [Parameter]
    public int ActionID { get; set; }

    private List<AssetDTO> selectableAssets = new List<AssetDTO>();

    private List<OptionDTO> selectableOptions => selectableAssets
        .FirstOrDefault(x => x.Id == GetSelectedAsset())
        .Options;
    private List<OptionDTO> selectedOptions = new List<OptionDTO>();

    private List<BillingProfileDTO> selectableBillingProfiles = new List<BillingProfileDTO>();

    protected override async Task OnInitializedAsync()
    {
        var assets = await assetService.GetAssetsAsync(true);
        this.selectableAssets = await assets.ToListAsync();
        selectableBillingProfiles = OrderDTO.CustomerDTO.BillingProfiles
            .Where(x => x.BilingProfileStatus == ItemState.Active)
            .ToList();

        //add empty items for better UX
        this.selectableAssets.ForEach(x => x.Options.Insert(0, new OptionDTO()));        
        this.selectableAssets.Insert(0, new AssetDTO());       
        this.selectableBillingProfiles.Insert(0, new BillingProfileDTO { BilingProfileStatus = ItemState.Active });
    }

    private void AddOption()
    {
        selectedOptions.Add(new OptionDTO());
    }

    private void RemoveOption(long optionID)
    {
        var deletedOption = AssetDTO.Options.FirstOrDefault(x => x.Id == optionID);     
        AssetDTO.Options.Remove(deletedOption);

        var tempOption = selectedOptions.FirstOrDefault(x => x.Id == optionID);
        selectedOptions.Remove(tempOption);

        StateHasChanged();
    }

    private void OptionSelected(ChangeEventArgs e)
    {
        if (!ValidateEventArgID(e, out long id))
        {
            modalService.ShowErrorMessage("Selected option is not valid!");
            return;
        }   

        AssetDTO.Options.RemoveAll(x => x.Id == id);
        var selectedOption = selectableOptions.FirstOrDefault(x => x.Id == id);
        AssetDTO.Options.Add(selectedOption);
        selectedOptions.Clear();

        StateHasChanged();
    }    

    private void AssetSelected(ChangeEventArgs e)
    {
        if (!ValidateEventArgID(e, out long id))
        {
            modalService.ShowErrorMessage("Selected asset is not valid!");
            return;
        }

        AssetDTO = selectableAssets.FirstOrDefault(x => x.Id == id).Clone();
        selectedOptions.Clear();

        StateHasChanged();
    }

    private void BillingProfileChanged(ChangeEventArgs e)
    {
        if (!ValidateEventArgID(e, out string id))
        {
            modalService.ShowErrorMessage("Selected billing profile is not valid!");
            return;
        }

        AssetDTO.BillingProfile = selectableBillingProfiles
            .FirstOrDefault(x => x.BillingProfileId == id);

        StateHasChanged();
    }

    private long GetSelectedAsset()
    {
        var selectedAsset = AssetDTO.Id == 0
            ? selectableAssets.FirstOrDefault(x => x.Id != 0)
                .Id
            : AssetDTO.Id;

        return selectedAsset;
    }

    public static bool ValidateEventArgID(ChangeEventArgs e, out long id)
    {
        id = 0;
        var isValid = e != null
            && long.TryParse(e.Value.ToString(), out id);

        return isValid;
    }

    public static bool ValidateEventArgID(ChangeEventArgs e, out string id)
    {
        var isValid = e != null
            && e.Value != null;

        id = isValid
            ? e.Value.ToString()
            : string.Empty;

        return isValid;
    }
}
