@layout LoginLayout
@page "/Login"

@inject AuthenticationStateProvider authenticationStateProvider
@inject IAuthenticationService authenticationService
@inject NavigationManager navigationManager

<PageTitle>Login</PageTitle>

<HeadContent>    
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="/css/loginStyle.css">
</HeadContent>

<div class="login-left">
    <h1>CRM</h1>
</div>
<div class="login-right">
    <div class="form">
        <div class="login">
            <div class="login-header">
            <h3>Login</h3>
            <p>Please enter your credentials to login.</p>
            </div>
        </div>
        <EditForm class="login-form" Model="@userDTO" OnSubmit="@SubmitLogin">
            <input placeholder="username" name="username" @bind-value="userDTO.UserName" oninput="@RemoveWarningText" />
            <input type="password" placeholder="password" name="password" @bind-value="userDTO.Password" oninput="@RemoveWarningText" />
            <button type="submit" name="submit" class="submitButton">LOGIN</button>
        </EditForm>
        <p class="warning-text" hidden="@(!showCredentialsWarning)">Please enter correct credentials!</p>
        <Loader Hide="@(!showLoading)"></Loader>
    </div>
</div>

@code {
    private UserDTO userDTO = new UserDTO();

    private bool showLoading = false;
    private bool showCredentialsWarning = false;

    private async Task SubmitLogin()
    {
        RemoveWarningText();
        showLoading = true;

        var loginResult = await authenticationService.Login(userDTO.UserName, userDTO.Password);

        if (loginResult.IsAuthenticated)
        {
            var crmAuthenticationStateProvider = (CrmAuthenticationStateProvider)authenticationStateProvider;
            await crmAuthenticationStateProvider.UpdateAuthenticationState(new UserSession { UserName = userDTO.UserName});
            navigationManager.NavigateTo("/index");
        }
        else 
        {
            showCredentialsWarning = true;
        }

        showLoading = false;
    }

    private void RemoveWarningText()
    {
        showCredentialsWarning = false;
    }
}
