@layout LoginLayout
@page "/Login"

@inject AuthenticationStateProvider authenticationStateProvider
@inject IAuthenticationService authenticationService
@inject NavigationManager navigationManager

<PageTitle>Login</PageTitle>

<HeadContent>    
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="/css/loginStyle.css">
</HeadContent>

<div class="login-left">
    <h1>CRM</h1>
</div>
<div class="login-right">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>Login</h3>
                <p>Please enter your credentials to login.</p>
            </div>
        </div>
        <EditForm class="login-form" Model="@userDTO" OnSubmit="@SubmitLogin">
            <input placeholder="username" name="username" @bind-value="userDTO.UserName" oninput="@RemoveWarningText" />
            <input type="password" placeholder="password" name="password" @bind-value="userDTO.Password" oninput="@RemoveWarningText" />
            <button type="submit" name="submit" class="submitButton">
                <span class="spinner-border spinner-border-sm" role="status" hidden="@(!showLoading)"></span>
                <span>LOGIN</span>                
            </button>
        </EditForm>
        <p class="warning-text" hidden="@(!showCredentialsWarning)">@warningText</p>        
    </div>
</div>

@code {
    private UserDTO userDTO = new UserDTO();

    private bool showLoading = false;
    private bool showCredentialsWarning = false;
    private string warningText = string.Empty;

    private async Task SubmitLogin()
    {
        RemoveWarningText();
        showLoading = true;

        try
        {
            var loginResult = await authenticationService.Login(userDTO.UserName, userDTO.Password);

            if (loginResult.IsAuthenticated)
            {
                var userSession = authenticationService.CreateUserSessionFromJwt(loginResult.Token);
                var crmAuthenticationStateProvider = (CrmAuthenticationStateProvider)authenticationStateProvider;
                await crmAuthenticationStateProvider.UpdateAuthenticationState(userSession);
                navigationManager.NavigateTo("/index");
            }
            else
            {
                ShowWarningText("Please enter correct credentials!");
            }
        }
        catch
        {
            ShowWarningText("Something went wrong. Please try again!");
        }

        showLoading = false;
    }

    private void RemoveWarningText()
    {
        showCredentialsWarning = false;
    }

    private void ShowWarningText(string text)
    {
        showCredentialsWarning = true;
        warningText = text;
    }
}
