@page "/User/UserSettings"
@using System.Security.Claims

@inject IUserService userService
@inject IRoleService roleService
@attribute [Authorize(Policy = CrmPolicyNames.EditUser)]

<PageTitle>User Settings</PageTitle>

@if (UserDTO.IsNullOrEmpty())
{
    <Loader></Loader>
}
else
{
    <h3>User Settings</h3>
    <EditForm Model="@UserDTO" OnSubmit="@SubmitUserSettings">
        <div>
            <InputText @bind-Value="@UserDTO.FirstName" />
            <InputText @bind-Value="@UserDTO.LastName" />
            <br>
            <InputText @bind-Value="@UserDTO.UserEmail" />
        </div>
        <div>
            User Roles:
            <br>
            @foreach (var role in selectedUserRoles)
            {
                <div class="form-check form-switch ms-3">
                    <InputCheckbox class="form-check-input"  @bind-Value="role.IsSelected"  />
                    <label class="form-check-label">@role.UserRole.RoleName</label>               
                </div>
            }
        </div> 
        <br>
        <button type="submit" name="submitUserSettings" class="btn btn-primary">Save</button>
    </EditForm>
    
    <br>
    <div>
        <span>Language</span>
        <select>
            @foreach(var language in supportedLanguages)
            {
                <option value="@language">@language</option>
            }
        </select>
    </div>

    <div>
        <span>Time zone</span>
    </div>
}

@code {
    [CascadingParameter] 
    protected Task<AuthenticationState> authenticationState { get; set; }

    public UserDTO UserDTO { get; set; }

    private IEnumerable<SelectedUserRole> selectedUserRoles { get; set; }
    private IEnumerable<UserRoleDTO> possibleUserRoles { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "username")]
    public string Username { get; set; }

    private HashSet<string> supportedLanguages;

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();

        possibleUserRoles = await roleService.GetApplicableRolesAsync();

        supportedLanguages = new HashSet<string>
        {
            "english",
            "german",
            "croatian"
        };
    }

    protected override async Task OnParametersSetAsync()
    {        
        if (string.IsNullOrWhiteSpace(Username))
        {            
            var user = (await authenticationState).User;
            Username = user.Identity.Name;
        }

        UserDTO = await userService.GetUserDataAsync(Username);

        selectedUserRoles = possibleUserRoles
            .Select(x => new SelectedUserRole
                {
                    IsSelected = UserDTO.UserRoles.Any(y => y.RoleName.ToLower() == x.RoleName),
                    UserRole = x
                })
            .ToHashSet();

        StateHasChanged();
    }

    private async Task SubmitUserSettings()
    {
        UserDTO.UserRoles = selectedUserRoles
            .Where(x => x.IsSelected)
            .Select(x => 
                new UserRoleDTO
                {
                    RoleName = x.UserRole.RoleName
                })
            .ToList();

        var result = await userService.UpdateUserDataAsync(UserDTO);
    }
}
