@page "/User/UserSettings"
@using System.Security.Claims

@inject IUserService userService

<PageTitle>User Settings</PageTitle>

@if (UserDTO.IsNullOrEmpty())
{
    <Loader></Loader>
}
else
{
    <h3>User Settings</h3>
    <div>
        <input value="@UserDTO.FirstName">
        <input value="@UserDTO.LastName">
        <input value="@UserDTO.LastName">
        <input value="@UserDTO.UserRole">
    </div>

    <div>
        <span>Language</span>
        <select>
            @foreach(var language in supportedLanguages)
            {
                <option value="@language">@language</option>
            }
        </select>
    </div>

    <div>
        <span>Time zone</span>
    </div>
}

@code {
    [CascadingParameter] 
    protected Task<AuthenticationState> authenticationState { get; set; }

    public UserDTO UserDTO { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "username")]
    public string Username { get; set; }

    private HashSet<string> supportedLanguages;

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();

        if (string.IsNullOrWhiteSpace(Username))
        {            
            var user = (await authenticationState).User;
            Username = user.Identity.Name;
        }

        UserDTO = await userService.GetUserDataAsync(Username);

        supportedLanguages = new HashSet<string>
        {
            "english",
            "german",
            "croatian"
        };
    }

}
