@page "/User/Users"


@inject NavigationManager navigationManager
@inject IUserService userService
@inject ICrmModalService modal

<h3>Users</h3>
<button id="btnAddUser" class="btn btn-primary" @onclick="Redirect">Add</button>

@if (users.IsNullOrEmpty())
{
    <Loader/>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr role="button" @ondblclick="() => RedirectToUser(user.UserName)">
                    <td>@($"{user.FirstName} {user.LastName}")</td>
                    <td>@user.UserName</td>
                    <td>@user.UserEmail</td>
                    <td>@string.Join(" / ", user.UserRoles.Select(x => x.RoleName))</td>
                    <td>
                        <button class="btn btn-outline-secondary" @onclick="() => RedirectToUser(user.UserName)"><em class="oi oi-pencil"></em> Edit</button>
                        <button class="btn btn-primary" hidden="@(user.UserStatus == ItemState.Active)" @onclick="() => ActivateUser(user.UserName)">Activate</button>
                        <button class="btn btn-danger" hidden="@(user.UserStatus == ItemState.Inactive)" @onclick="() => DeactivateUser(user.UserName)">Deactivate</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<UserDTO> users = new List<UserDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            var asyncUsers = await userService.GetUsersAsync();

            await foreach(var user in asyncUsers)
            {
                users.Add(user);
            }
        }
        catch (Exception ex)
        {
            modal.ShowErrorMessage(ex.Message);
        }
    }

    protected async void DeactivateUser(string username)
    {
        var result = await modal.ShowDialog($"This will deactivate user {username}, do you want to proceed?", ModalDialogType.Delete);

        if (result.Cancelled)
        {
            return;
        }

        var request = new ChangeUserStatusRQ
            {
                UserName = username,
                NewUserStatus = ItemState.Inactive
            };

        await userService.ChangeUserStatus(request);

        var deactivatedUser = users.First(x => x.UserName == username);
        deactivatedUser.UserStatus = ItemState.Inactive;

        StateHasChanged();
    }  

    protected async void ActivateUser(string username)
    {
        var result = await modal.ShowDialog($"This will activate user {username}, do you want to proceed?", ModalDialogType.OK);

        if (result.Cancelled)
        {
            return;
        }

        var request = new ChangeUserStatusRQ
            {
                UserName = username,
                NewUserStatus = ItemState.Active
            };

        await userService.ChangeUserStatus(request);

        var activatedUser = users.First(x => x.UserName == username);
        activatedUser.UserStatus = ItemState.Active;

        StateHasChanged();
    }

    protected void RedirectToUser(string username)
    {
        navigationManager.NavigateTo($"/User/UserSettings?username={username}");
    }

    protected void Redirect()
    {
        navigationManager.NavigateTo("/User/NewUserForm");
    }

}
