@page "/UserManagment/UserRoles/Roles"

@inject IRoleService roleService
@inject ICrmModalService modal
@inject NavigationManager NavigationManager

<h3>@Translation.UserRoles</h3>
<button id="btnAddUserRole" class="btn btn-primary" @onclick="Redirect">@Translation.New +</button>

@if (roles is null)
{
    <Loader />
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Translation.Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in roles)
            {
                <tr role="button" @ondblclick="() => OpenRoleEdit(role)">
                    <td>@role</td>
                    <td>
                        <button class="btn btn-outline-secondary" @onclick="() => OpenRoleEdit(role)"><em class="oi oi-pencil"></em> @Translation.Edit</button>
                        <button class="btn btn-danger" @onclick="() => DeleteUserRoleAsync(role)">@Translation.Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<string> roles = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var result = await roleService.GetApplicableRolesAsync();
        
        roles = result.Select(x => x.RoleName).ToList();
    }

    private void Redirect()
    {
        NavigationManager.NavigateTo("/UserManagment/UserRoles/NewRoleForm");
    }

    private async Task OpenRoleEdit(string role)
    {
        var parameters = new ModalParameters()
            .Add("RoleName", role);

        await modal.Show<RoleEdit>(parameters);
    }

    private async Task DeleteUserRoleAsync(string role)
    {
        var confirmationMessage = string.Format(Translation.DeleteUserRoleConfirmation, role);
        var confirmation = await modal.ShowDialog(confirmationMessage, ModalDialogType.Delete);

        if (confirmation.Cancelled)
        {
            return;
        }

        var result = await roleService.DeleteRoleAsync(role);
        if (!result.IsSuccess)
        {
            modal.ShowErrorMessage(result.ErrorMessage);
            return;
        }
        roles = roles.Where(x => x != role);

        StateHasChanged();
    }
}
