
@inject ICustomerService customerService
@inject NavigationManager navigationManager

<table>
    <thead>
        <tr>
            <th style="padding-right: 15px">Order ID</th>
            <th style="padding-right: 15px">Asset Name</th>
            <th style="padding-right: 15px">Created</th>
            <th style="padding-right: 15px">Submited</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderDTO in orders)
        {
            <tr @ondblclick="() => RedirectToOrder(orderDTO.OrderID)">
                <td style="padding-right: 15px"><label id="@orderDTO.OrderID" >@orderDTO.OrderID</label></td>
                <td style="padding-right: 15px"><label id="@orderDTO.OrderID" >@orderDTO.AssetDTO.Name</label></td>
                <td style="padding-right: 15px"><label id="@orderDTO.OrderID" >@orderDTO.DateCreated.ToLocalTime().ToString("dd-MM-yyyy HH:mm:ss")</label></td>
                <td style="padding-right: 15px"><label id="@orderDTO.OrderID" >@orderDTO.DateSubmited.ToLocalTime().ToString("dd-MM-yyyy HH:mm:ss")</label></td>                    
            </tr>
        }
    </tbody>
</table>




@code {
    [CascadingParameter]
    public CustomerDTO CustomerDTO { get; set; }

    private SortedSet<OrderDTO> orders = new SortedSet<OrderDTO>(new OrdersSorter());

    protected override async Task OnInitializedAsync()
    {        
        var customerOrders = await customerService.GetCustomerOrdersAsync(CustomerDTO.Id);

        await foreach(var order in customerOrders)
        {
            orders.Add(order);
        }
    }

    private void RedirectToOrder(Guid id)
    {
        navigationManager.NavigateTo($"/Order?orderID={id}&readOrder={true}");
    }

}
