@page "/Customers/{customerId:long}"

@inject ICustomerService customerService
@inject ICrmModalService modal

<h1>@customerDTO.Name</h1> <button @onclick="() => ChangeState()">Edit</button>
<br />

<EditForm Model="@customerDTO" OnSubmit="@SaveChanges">
    <fieldset disabled="@isDisabled">
        <InputText @bind-Value="customerDTO.Name"></InputText>
        <InputDate @bind-Value="customerDTO.Birthday"></InputDate>
        <button type="submit" name="submit" class="btn btn-primary">Save Changes</button>
    </fieldset>
</EditForm>

<table>
    <thead>
        <tr>
            <th>Primary</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var addressDTO in customerDTO.Addresses)
        {
            <tr>
                <td><input type="radio" id="legalAddress" checked="@(addressDTO.IsLegal)" @bind="addressDTO.IsLegal" name="legalRadio"/></td>
                <td><label id="address" for="legalAddress">@addressDTO.FullAddress</label></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private bool isDisabled = true;
    private CustomerDTO customerDTO = new CustomerDTO();

    [Parameter]
    public long CustomerId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            customerDTO = await customerService.GetCustomerByIdAsync(CustomerId);
        }
        catch (Exception ex)
        {
            // add logging
            modal.ShowErrorMessage(ex.Message);
        }
    }

    protected async Task SaveChanges()
    {
        await customerService.UpdateCustomer(customerDTO);
    }

    private void ChangeState()
    {
        isDisabled = !isDisabled;
    }
}
