
@inject ICustomerService customerService
@inject IOrderService orderService
@inject ILocalStorageService localStorageService
@inject NavigationManager navigationManager
@inject ICrmModalService modal

<table>
    <thead>
        <button type="submit" name="submit" class="btn btn-primary" @onclick="() => AddNewAsset()" >New +</button>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assetDTO in assets)
        {
            <tr>
                <td><label id="@assetDTO.Id" >@assetDTO.Name</label></td>
                <td><label id="@assetDTO.Id" >@assetDTO.Price</label></td>
                <td><label id="@assetDTO.Id" >@assetDTO.AssetStatus.ToString()</label></td>
                @if (assetDTO.AssetStatus != ItemState.Inactive)
                {
                    <td><button type="button" class="btn btn-outline-secondary" @onclick="() => EditAsset(false, assetDTO.CustomerAssetID)"><span class="oi oi-pencil"></span> Edit</button></td>
                    <td><button type="button" class="btn btn-danger" @onclick="() => EditAsset(true, assetDTO.CustomerAssetID)" >Deactivate</button></td>                    
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [CascadingParameter]
    public CustomerDTO CustomerDTO { get; set; }

    private SortedSet<AssetDTO> assets { get; set; } = new SortedSet<AssetDTO>(new CustomerAssetsSorter());

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            var customerAssets = await customerService.GetCustomerAssetsAsync(CustomerDTO.Id);

            await foreach(var asset in customerAssets)
            {
                assets.Add(asset);
            }

            CustomerDTO.Assets = assets.ToList();
        }
        catch (Exception ex)
        {
            modal.ShowCustomerFriendlyMessage();
        }
    }

    private async void AddNewAsset()
    {
        var orderID = Guid.NewGuid();
        var order = new OrderDTO
        {
            OrderID = orderID,
            CustomerDTO = this.CustomerDTO
        };

        if (!await orderService.CreateOrderAsync(order))
        {
            modal.ShowCustomerFriendlyMessage();
            return;
        }
        await localStorageService.SetItemAsync<CustomerDTO>(orderID.ToString(), CustomerDTO);
        navigationManager.NavigateTo($"/Order?customerID={CustomerDTO.Id}&orderID={orderID}&action={(int)OrderAction.Create}:0");
    }

    private async void EditAsset(bool isDelete, long customerAssetID)
    {
        var orderID = Guid.NewGuid();
        var action = isDelete
            ? OrderAction.Delete
            : OrderAction.Update;

        var asset = assets.First(x => x.CustomerAssetID == customerAssetID);
        var order = new OrderDTO
        {
            OrderID = orderID,
            CustomerDTO = this.CustomerDTO,
            Action = action,
            AssetDTO = asset
        };
        var loadAssetOptions = true;
        if (!await orderService.CreateOrderAsync(order, loadAssetOptions))
        {
            modal.ShowCustomerFriendlyMessage();
            return;
        }

        var actionIndicator = $"{(int)action}:{customerAssetID}";
        await localStorageService.SetItemAsync<CustomerDTO>(orderID.ToString(), CustomerDTO);
        navigationManager.NavigateTo($"/Order?customerID={CustomerDTO.Id}&orderID={orderID}&action={actionIndicator}");        
    }
}
