
@inject ICustomerService customerService
@inject IInteractionService interactionService
@inject NavigationManager navigationManager
@inject ICrmModalService modal

<table class="table table-hover table-fixed" style="width:100%;">
    <colgroup>
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:auto;">
        <col style="width:15%;">
    </colgroup>
    <thead>
        <button type="submit" name="submit" class="btn btn-primary" @onclick="() => AddNewInteraction()">@Translation.New +</button>
        <tr>
            <th>@Translation.Date</th>
            <th>@Translation.Type</th>
            <th>@Translation.Description</th>
        </tr>
    </thead>
    <tbody>        
        @if (customerInteractions is null)
        {
            <tr>
                <td colspan="4" class="text-center py-5">
                    <Loader />
                </td>
            </tr>
        }
        else
        {
            @foreach (var interaction in customerInteractions)
            {
                <tr @key="interaction.Key.Id">
                    <td>
                        <input type="text" id="interactionDate" class="form-control" value="@interaction.Value.DateTime.ToStringValue()" disabled  />
                    </td>
                    <td>
                        <select class="form-select w-30" @bind="interaction.Value.Type" disabled="@(!interaction.Key.IsEditable)">
                            @foreach (var type in Enum.GetValues(typeof(InteractionType)))
                            {
                                <option value="@type">@type</option>
                            }
                        </select>
                    </td>
                    <td>
                        <InputTextArea rows="1" class="form-control w-100" readonly="@(!interaction.Key.IsEditable)" @bind-Value="interaction.Value.Description" style="resize: vertical;" />
                    </td>

                    <td>
                        <button hidden="@interaction.Key.IsEditable" type="button" class="btn btn-outline-secondary" @onclick ="() => EditInteraction(interaction.Key.Id)"><em class="oi oi-pencil"></em> @Translation.Edit</button>
                        <button hidden="@(!interaction.Key.IsEditable)" type="button" class="btn btn-outline-primary" @onclick="() => SaveInteractionAsync(interaction.Value)">@Translation.Save</button>
                        <button hidden="@(!interaction.Key.IsEditable)" type="button" class="btn btn-outline-danger" @onclick="() => CancelInteraction(interaction.Key.Id)">@Translation.Cancel</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [CascadingParameter]
    public CustomerDTO CustomerDTO { get; set; }

    private SortedDictionary<EditableID, InteractionDTO> customerInteractions = new SortedDictionary<EditableID, InteractionDTO>(new InteractionKeySorter());

    private InteractionDTO editableInteraction = new InteractionDTO();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            customerInteractions = null;
            var customerInteractionsData = await customerService.GetCustomerInteractionsAsync(CustomerDTO.Id);

            customerInteractions = new SortedDictionary<EditableID, InteractionDTO>(new InteractionKeySorter());
            await foreach (var interaction in customerInteractionsData)
            {
                var editableID = new EditableID
                {
                    Id = interaction.Id,
                    DateCreated = interaction.DateTime
                };
                customerInteractions.Add(editableID, interaction);
            }
        }
        catch (Exception ex)
        {
            customerInteractions = new SortedDictionary<EditableID, InteractionDTO>(new InteractionKeySorter());
            modal.ShowErrorMessage(ex.Message);
        }
    }

    private void AddNewInteraction()
    {
        if (customerInteractions.Values.All(x => x.Id > 0))
        {
            var editableID = new EditableID
            {
                DateCreated = DateTime.Now,
                IsEditable = true
            };
            customerInteractions.Add(editableID, new InteractionDTO { CustomerID = CustomerDTO.Id, DateTime = DateTime.Now });          
        }
    }

    private async Task SaveInteractionAsync(InteractionDTO interactionDTO)
    {
        if (interactionDTO.Type == 0
            || interactionDTO.DateTime == DateTime.MinValue)
        {
            modal.ShowErrorMessage(Translation.MandatoryFieldsNotPopulated);
            return;
        }

        if (interactionDTO.Id == 0)
        {
            await CreateNewInteractionAsync(interactionDTO);
            return;
        }

        if (await UpdateInteractionDataAsync(interactionDTO))
        {
            editableInteraction = new InteractionDTO();
            customerInteractions.Keys.First(x => x.Id == interactionDTO.Id).IsEditable = false;
        }
    }

    private async Task CreateNewInteractionAsync(InteractionDTO interactionDTO)
    {
        var result = await interactionService.SaveNewInteractionAsync(interactionDTO);

        if (!result.IsSuccess)
        {
            modal.ShowErrorMessage(result.ErrorMessage);
            return;
        }

        var savedInteractionKey = customerInteractions.Keys.First(x => x.Id == 0);
        customerInteractions[savedInteractionKey] = interactionDTO;
        savedInteractionKey.IsEditable = false;
        savedInteractionKey.DateCreated = interactionDTO.DateTime;
        savedInteractionKey.Id = result.Data.InteractionId;
    }

    private async Task<bool> UpdateInteractionDataAsync(InteractionDTO interactionDTO)
    {
        if (interactionDTO.Equals(editableInteraction))
        {
            return true;
        }

        var result = await interactionService.UpdateInteractionAsync(interactionDTO);
        if (!result.IsSuccess)
        {
            modal.ShowErrorMessage(result.ErrorMessage ?? Translation.CustomerFriendlyMessage);
        }
        else
        {
            modal.ShowSuccessToast(Translation.InteractionUpdateSucess);
        }

        return result.IsSuccess;
    }

    private void EditInteraction(long interactionID)
    {
        var interactionForEdit = customerInteractions.Keys.First(x => x.Id == interactionID);
        interactionForEdit.IsEditable = true;
        editableInteraction = customerInteractions[interactionForEdit].Clone();
    }

    private void CancelInteraction(long interactionID)
    {
        var interactionForCancel = customerInteractions.Keys.First(x => x.Id == interactionID);
        interactionForCancel.IsEditable = false;
        if (interactionForCancel.Id == 0)
        {
            customerInteractions.Remove(interactionForCancel);
        }
        else
        {
            customerInteractions[interactionForCancel] = editableInteraction;
        }
    }
}
