@page "/Customers/Admin/{customerId:long}"

@attribute [Authorize(Roles = "admin")]

@inject ICustomerService customerService
@inject ICrmModalService modal
@inject NavigationManager navigationManager
@inject ISessionStorageService sessionStorage

@if (customerDTO.IsNullOrEmpty())
{
    <Loader></Loader>
}
else
{
    <CascadingValue Value="@customerDTO">
        <div class="d-flex justify-content-start align-items-center">
            <h1 class="me-2 mb-0 align-self-center">
                @(customerDTO.FirstName + " " + customerDTO.LastName)
            </h1>

            <button type="button"
                    title="@Translation.BackToCustomerView"
                    @onclick="NavigateToCustomerBaseAsync"
                    class="btn btn-primary border-0 bg-transparent p-0 text-primary fs-1 me-3 d-inline-flex align-items-center justify-content-center"
                    style="transform: scale(1.0);">
                <span class="oi oi-arrow-thick-left"></span>
            </button>

            <button type="submit" name="submit" class="btn btn-primary">
                @Translation.SaveChanges
            </button>
        </div>

        <fieldset class="mb-3">
            <Customer />
        </fieldset>

        <div class="border border-top-0" style="border-radius: 0.5rem;">
            <CustomerAdminNav DisplayComponent="ShowComponent"></CustomerAdminNav>

            <section class="mt-3 mb-3 px-3">
                @switch (@componentName)
                {
                    case nameof(CustomerAddresses):
                        <CustomerAddresses Addresses="@customerDTO.Addresses"></CustomerAddresses>
                        break;
                    case nameof(CustomerProfiles):
                        <CustomerProfiles BillingProfiles="@customerDTO.BillingProfiles"></CustomerProfiles>
                        break;
                    default:
                        <Loader />
                        break;
                }
            </section>
        </div>

    </CascadingValue>
}

@code {
    private CustomerDTO customerDTO = new CustomerDTO();

    [Parameter]
    public long CustomerId { get; set; }

    private string componentName = nameof(CustomerAddresses);

    protected override async Task OnInitializedAsync()
    {
        customerDTO = null;
        var result = await customerService.GetCustomerDataAsync(CustomerId);
        if (result.IsSuccess)
        {
            customerDTO = result.Data;
            sessionStorage.RemoveItemAsync($"{CrmStorageKeys.CustomerData}{CustomerId}");
        }
        else
        {
            customerDTO = new CustomerDTO();
            modal.ShowErrorMessage(result.ErrorMessage);
        }
    }

    protected void ShowComponent(string selectedComponentName)
    {
        componentName = selectedComponentName;
    }

    protected async Task NavigateToCustomerBaseAsync()
    {
        navigationManager.NavigateTo($"/Customers/{CustomerId}");
    }

    protected async Task SaveChanges()
    {
        var result = await customerService.UpdateCustomer(customerDTO);
        if (!result.IsSuccess)
        {
            modal.ShowErrorMessage(result.ErrorMessage);
            return;
        }

        modal.ShowSuccessToast(Translation.CustomerUpdateSuccess);

        var storageKey = $"{CrmStorageKeys.CustomerData}{CustomerId}";
        await sessionStorage.SaveItemEncryptedAsync(storageKey, customerDTO);
    }
}
