
@inject ICustomerService customerService
@inject IInteractionService interactionService
@inject NavigationManager navigationManager
@inject ICrmModalService modal

<table>
    <thead>
        <button type="submit" name="submit" class="btn btn-primary" @onclick="() => AddNewInteraction()">@Translation.New +</button>
    </thead>
    <tbody>
        @foreach (var customerInteraction in customerInteractionss)
        {
            <tr>
                <Interaction InteractionDTO="customerInteraction.Value" IsEditable="customerInteraction.Key.IsEditable" SaveInteraction="SaveInteraction"></Interaction>
                <td>
                    <button hidden="@customerInteraction.Key.IsEditable" type="button" class="btn btn-outline-secondary" @onclick="() => EditInteraction(customerInteraction.Key.Id)"><em class="oi oi-pencil"></em> @Translation.Edit</button>
                    <button hidden="@(!customerInteraction.Key.IsEditable)" type="button" class="btn btn-outline-primary" @onclick="() => SaveInteraction(customerInteraction.Value)">@Translation.Save</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [CascadingParameter]
    public CustomerDTO CustomerDTO { get; set; }

    private SortedDictionary<EditableID, InteractionDTO> customerInteractionss = new SortedDictionary<EditableID, InteractionDTO>(new InteractionKeySorter());

    protected override async Task OnInitializedAsync()
    {        
        var customerInteractions = await customerService.GetCustomerInteractionsAsync(CustomerDTO.Id);

        await foreach(var interaction in customerInteractions)
        {
            var editableID = new EditableID
            {
                Id = interaction.Id,
                DateCreated = interaction.DateTime
            };
            customerInteractionss.Add(editableID, interaction);
        }
    }

    private void AddNewInteraction()
    {
        if (customerInteractionss.Values.All(x => x.Id > 0))
        {
            var editableID = new EditableID
            {
                DateCreated = DateTime.Now,
                IsEditable = true
            };
            customerInteractionss.Add(editableID, new InteractionDTO { CustomerID = CustomerDTO.Id, DateTime = DateTime.Now });          
        }
    }

    private async Task SaveInteraction(InteractionDTO interactionDTO)
    {
        if (interactionDTO.Type == 0
            || interactionDTO.DateTime == DateTime.MinValue)
        {
            modal.ShowErrorMessage(Translation.MandatoryFieldsNotPopulated);
            return;
        }

        if (interactionDTO.Id == 0
            && interactionDTO.Type != 0)
        {
            await CreateNewInteractionAsync(interactionDTO);
            return;
        }

        var editedInteraction = customerInteractionss.First(x => x.Key.Id == interactionDTO.Id).Value;

        if (!interactionDTO.Equals(editedInteraction))
        {
            var result = await interactionService.UpdateInteractionAsync(interactionDTO);
            if (!string.IsNullOrEmpty(result.ErrorMessage))
            {
                modal.ShowErrorMessage(result.ErrorMessage);
                return;
            }
        }

        customerInteractionss.Keys.First(x => x.Id == interactionDTO.Id).IsEditable = false;
    }

    private void EditInteraction(long interactionID)
    {
        var interactionForEdit = customerInteractionss.Keys.First(x => x.Id == interactionID);
        interactionForEdit.IsEditable = true;

        StateHasChanged();
    }

    private async Task CreateNewInteractionAsync(InteractionDTO interactionDTO)
    {
        var result = await interactionService.SaveNewInteractionAsync(interactionDTO);

        if (!result.IsSuccess)
        {
            modal.ShowErrorMessage(result.ErrorMessage);
            return;
        }

        var savedInteractionKey = customerInteractionss.Keys.First(x => x.Id == 0);
        customerInteractionss[savedInteractionKey] = interactionDTO;
        savedInteractionKey.IsEditable = false;
        savedInteractionKey.DateCreated = interactionDTO.DateTime;
        savedInteractionKey.Id = result.Data.InteractionId;
    }
}
