@inject NavigationManager navigationManager

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Translation.OrderID</th>
            <th>@Translation.AssetName</th>
            <th>Status</th>
            <th>@Translation.Created</th>
            <th>@Translation.Submited</th>
            <th>@Translation.CreatedBy</th>
        </tr>
    </thead>
    <tbody>
        @if (Orders is null)
        {
            <tr>
                <td colspan="5" class="text-center py-5">
                    <Loader />
                </td>
            </tr>
        }
        else
        {
            @foreach (var order in Orders)
            {
                <tr role="button" @ondblclick="() => RedirectToOrder(order.OrderID)">
                    <td><label id="@order.OrderID">@order.OrderID</label></td>
                    <td><label id="@order.OrderID">@order.AssetDTO.Name</label></td>
                    <td><label id="@order.OrderID">@order.OrderStatus</label></td>
                    <td><label id="@order.OrderID">@order.DateCreated.ToStringValue()</label></td>
                    <td><label id="@order.OrderID">@order.DateSubmitted.ToStringValue()</label></td>
                    <td><label id="@order.OrderID">@order.CreatedByUsername</label></td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public SortedSet<OrderDTO> Orders { get; set; }

    private void RedirectToOrder(Guid id)
    {
        navigationManager.NavigateTo($"/Orders/Order?orderID={id}&readOrder=true");
    }
}